#main {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
.main-boots {
  height: 40vh;
  width: 44vw;
}
#top {
  display: flex;
  justify-content: center;
  padding-bottom: -90px;
  margin-left: -179px;
}
.logo {
  height: 10vh;
  width: 3vw;
}
#nav {
/*Too late to finish this part*/
}
h3 {
  font-kerning: auto;
  font-family: veranda
  font-color: #666;
}
.mens {
  height: 30vh;
  width: 14vw;
  padding-left: 40px;
}
.women {
  height: 30vh;
  width: 14vw;
  padding-left: 15px;
}
.lifestyle {
  height: 30vh;
  width: 14vw;
  padding-left: 15px;
}
#bottom {
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}
.home-about {
  width: 21vw;
  height: 25vh;
}
.home-blog {
  width: 21vw;
  height: 25vh;
  padding-left: 31px;
}
