body {
  background-color: #96CDCD;
  background-image: url(storm-horsemen_of_apocalypse-wallpaper.jpg);
  /*bg from http://forgehd.com/*/
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1700px 1100px;
}
#box {
  top: 20px;
  left: 50px;
  width: 290px;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  display: block;
  background-color: rgba(89, 3, 26, 0.5);
  font-family: sans-serif;
  color: #D5CDCE;
}
#button {
  width: 30%;
  height: 30px;
  padding: 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #c0392b;
  border: 0;
  border-bottom: 2px solid #b53224;
  position: relative;
  vertical-align: top;
  font-family: helvetica;
}
#newdiv {
  position: absolute;
  top: 20px;
  left: 510px;
  width: 680px;
  padding: 10px;
  background-color: rgba(89, 3, 26, 0.5);
  color: #ECC3BF;
  font-family: sans-serif;
  overflow-y: auto;
}
#newdiv img {
  width: 100px;
}
h2 {
  text-align: left;
  font-family: helvetica;
  background: #4B2728;
  margin: 0;
  width: 280px;
	padding: 0px 10px -10px 0px;
	font-size: 33px;
	line-height: 15px;
	letter-spacing: -5px;
	font-weight: bold;
}
h3 {
  text-align: left;
  font-family: helvetica;
  background: #4B2728;
  margin: 0;
  width: 280px;
	padding: 0px 10px -10px 0px;
	font-size: 40px;
	line-height: 15px;
	letter-spacing: -5px;
	font-weight: bold;
}
p {
  font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-size: 10pt;
  margin-top: .5em; color: #D5CDCE;
}
b {
  font-weight: bolder;
  font-size: 17px;
  color: #802A2A;
}
#link {
  background-color: #59031A;
  color: #4F4F4F;
  font-size: 30px;
  font-weight: bold;
  font-family: helvetica;
  padding: 0px 0px 7px 0px;
  display: block;
  width: 230px;
}
ul {
  list-style: none;
}
