body {
  background: #888;
  background-image: url("birth_of_an_artist_wallpaper_by_yuuza-d5nnfa7.jpg");
}
#box {
  background-color: #3299CC;
  margin: 50px;
  background-color: rgba(45, 116, 152, 0.5);
  top: 20px;
  left: 50px;
  width: 590px;
  height: 100%;
  padding: 10px;
}
#color-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*justify-content: space-around;*/
  justify-content: center;
  align-items: center;
  /*max-width: 600px;*/
  margin: 10px auto;
  /*margin: 20px;*/
}
.color {
  height: 50px;
  width: 50px;
  margin: 0 2.5%;
}
#button {
  background-color: #fce4ec;
  color: #000000;
  font-size: 12pt;
  font-family: monospace;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 15px 51px;
  display: inline-block;
}
h1 {
  text-align: center;
  /*https://www.midwinter-dg.com/permalink-7-great-css-based-text-effects-using-the-text-shadow-property_2011-03-03.html*/
  color: #fff;
  border-bottom: dashed;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
  letter-spacing: 5px;
  font: 55px 'MisoRegular';
  }
