body {
  background: #fff;
  background-image: url("birth_of_an_artist_wallpaper_by_yuuza-d5nnfa7.jpg");
}
#box {
  background-color: #3299CC;
  margin: 50px;
  opacity: 0.6;
}
#color-container {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#button {
  background-color: #fce4ec;
  color: #000000;
  font-size: 12pt;
  font-family: monospace;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 15px 51px;
  display: inline-block;
}
h1 {
  font-family: helvetica;
  font-size: 30pt;
  border-bottom: dotted;
}
