/*YOUR STYLING GOES HERE*/
body {
    background: red; /* For browsers that do not support gradients -thanks W3Schools*/
    background: linear-gradient(#008B8B, #70DBDB); /* Standard syntax -thanks W3Schools*/
}
.sun {
    color: #FFE600;
    height: 100px;
    weight: 100px;
    border-radius: 50px;
    -moz-border-radius: 50px;
	  -webkit-border-radius: 50px;
}
.sky {


}

.cloud-container {
  color: #E8E8E8;
  width: 350px;
  height: 120px;
  z-index: 1;
  -webkit-filter: blur(3px);
}
.clouds {
    color: #E8E8E8;
    width: 350px;
    height: 120px;
    z-index: 1;
    -webkit-filter: blur(3px);
}
.fluff {
  color: #E8E8E8;
}

.earth {
  top: 0;
	left: 0;
	width: 100%;
	height: 300px;
	background: #397D02;
}

.castle {
  color: #B4CDCD;
}
.inner-castle {
  color: ;

}
.battlements {
  color: ;

}
.lever {
  color: ;
}
.gate {
  color: ;

}
. moat{
  color: #3299CC;
  border-radius: 100px / 50px; 
}
