/*YOUR STYLING GOES HERE*/
html {
  max-width: 100%;
}
body {
  margin: 0;
  background: linear-gradient(#008B8B, #70DBDB); /* Standard syntax -thanks W3Schools*/
  position: fixed;
  height: 70%;
  max-width: 100%;
}
#sun {
      background: #FFE600;
      width: 160px;
    	height: 160px;
      left: 100px;
      top: 90px;
      position: absolute;
    	-moz-border-radius: 90px;
    	-webkit-border-radius: 90px;
    	border-radius: 90px;
}
#sky {
      background: linear-gradient(#008B8B, #70DBDB); /* Standard syntax -thanks W3Schools*/
      position: fixed;
      height: 70%;
      max-width: 100%;
}
.cloud-container {
    background: #E8E8E8;
    width: 300px;
    height: 150px;
    position: absolute;
    left: 100px;
    top: 140px;
    -webkit-filter: blur(25px);
    border-radius: 120px;
}
.clouds {
    background: #E8E8E8;
    width: 500px;
    height: 120px;
    position: absolute;
    left: 300px;
    top: 300px;
    border-radius: 200px;
    list-style: none;
}
.fluff:nth-child(1) {
  background: #E8E8E8;
  width: 205px;
  height: 135px;
  position: absolute;
  top: -15px;
  left: 980px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}
.fluff:nth-child(2) {
  background: #E8E8E8;
  width: 210px;
  height: 135px;
  position: absolute;
  top: -60px;
  left: 650px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}
.fluff:nth-child(3) {
   background: #E8E8E8;
   width: 215px;
   height: 135px;
   position: absolute;
   top: -80px;
   left: 400px;
   -webkit-border-radius: 200px;
   -moz-border-radius: 200px;
   border-radius: 200px;
}
.earth {
  top: 480px;
	left: 0;
	height: 400px;
  width: 200%;
  margin: auto;
	background: #397D02;
  position: fixed;
}
.castle {
  background: #B4CDCD;
  width: 350px;
  height: 400px;
  position: absolute;
  left: 500px;
  top: -230px;
}
.inner-castle {
  background: #B4CDCD;
  position: absolute;
  width: 90px;
  height: 70px;
  top: 100px;
  left: 200px;
  position: absolute;
}
.battlements {
  left: 200px;
  top: 200px;
  width: 300px;
  height: 50px
  position: absolute;
  list-style: none;
}
.battlements > li:nth-child(1) {
  position: absolute;
  top: -45px;
  left: 20px;
  width: 75px;
  height: 50px;
  background: #B4CDCD;
}
.battlements > li:nth-child(2) {
  position: absolute;
  top: -45px;
  left: 140px;
  width: 75px;
  height: 50px;
  background: #B4CDCD;
}
.battlements > li:nth-child(3) {
  position: absolute;
  top: -45px;
  left: 260px;
  width: 75px;
  height: 50px;
  background: #B4CDCD;
}
.lever {
  background: #000000;
  position: absolute;
  left: 75px;
  top: 200px;
  width: 7px;
  height: 60px;
}
.gate {
  background: #AA5303;
  width: 120px;
  height: 230px;
  position: fixed;
  left: 600px;
  top: 404px;
  border-radius: 10px 10px 0px 0px;
  list-style: none;
}
.gate > li:nth-child(1) {
  position: absolute;
  top: 0px;
  left: 25px;
  width: 3px;
  height: 229px;
  background: #0D0D0D;
}
.gate > li:nth-child(2) {
  position: absolute;
  top: 0px;
  left: 50px;
  width: 2px;
  height: 229px;
  background: #0D0D0D;
}
.gate > li:nth-child(3) {
  position: absolute;
  top: 0px;
  left: 72px;
  width: 2px;
  height: 229px;
  background: #0D0D0D;
}
.gate > li:nth-child(4) {
  position: absolute;
  top: 0px;
  left: 130px;
  width: 2px;
  height: 229px;
  background: #0D0D0D;
}
.gate > li:nth-child(5) {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 2px;
  height: 229px;
  background: #0D0D0D;
}
.gate > li:nth-child(7) {
  position: absolute;
  top: 80px;
  left: -26px;
  width: 10px;
  height: 20px;
  border-radius: 5px;
  background: red;
}
.moat {
  position: fixed;
  top: 600px;
  left: 380px;
  width: 600px;
	height: 90px;
	background: #3299CC;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
  z-index: -1;
}
