body {
  font-family: 'Lato', sans-serif;
  padding: 50px;
}

.unicorn-friend {
  height: 200px;
}

#go-button {
  width: 25px;
  height: 20px;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

#unicorns-list {
  list-style-image: url('http://priscilla971.amorein.com/images/fan.png');
}
